@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .icon{
    @apply hover:bg-gray-300 rounded-full text-gray-500;
  }

  .menu{
    @apply flex items-center  py-1 pl-7 pr-3 w-full rounded-r-full
  }


  .sidebar{
    @apply  w-80 bg-slate-50 p-4 transition-all    ease-in-out
  }

  .sidebar_link{
    @apply  text-lg flex justify-between items-center  hover:bg-[#c0c1c4] mb-2 rounded-xl px-2 py-1
  }
  .sidebar_icon{
    @apply text-xl inline-block text-gray-600 active:text-black 
  }

  .sidebar_title{
    @apply ml-2 text-sm;
  }
  .sidebar_btn{
    @apply bg-[#c2e7ff] flex p-5 rounded-lg mb-5
  }
}




body {
  font-family: "Poppins", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar_link:focus{
  background: #a8c7fa;
  
}

.sidebar_link:focus .sidebar_title,
.sidebar_link:focus .sidebar_icon{
  color:black;
  font-weight: 600;
}

.menus::-webkit-scrollbar{
  width: 8px;


}

.menus::-webkit-scrollbar-track{
  background:transparent;
}

.menus::-webkit-scrollbar-thumb{
  background: #b0b2b4;
  border-radius: 10px;
}

[data-collapse="true"] .sidebar_btn{
margin-bottom: 10px;

}
[data-collapse="true"]{
  width: 5.3rem;
}

[data-collapse="true"] .sidebar_title,
[data-collapse="true"] .unread
{
  display: none;
}

[data-collapse="true"] .sidebar_link{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 100%;
}

[data-collapse="true"] .list_item{
  display: flex;
  justify-content: center;
}

[data-collapse="true"] .sidebar_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

[data-collapse="true"] .unread-mark{
  display: block;
  position: absolute;
  top: 0;
  right:0;
}

[data-collapse="true"] .menus::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}


.nav{
  height: 10vh;
}

.email_wrapper{
  height: 90vh;
}


/* ------------- email-box --------------*/

.categories {
  display: flex;
  align-items: center;
  width: 100%;
}
.categories .category{
  width:25% ;
  padding: 1.25rem 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.category:hover{
  background: #f8f8f8;
}

.category:focus{
  color:#0b57d0;

  border-bottom: 4px solid #0b57d0;
}
.categories .category .category-icon{
  margin: 0px 16px;
}
